.btn {
  padding: 12px 40px;
  border-radius: 10px;
  cursor: pointer;

  &.solid {
    background: var(--red_900);
    color: #fff;
  }

  &.outline {
    background: #fff;
    color: var(--red_900);
    border: 1px solid var(--red_900);
    &:hover{
        background: var(--red_hover);
    }
  
  }

  &.clear {
    background: transparent;
    padding: 0px;
    border-radius: 0px;
    color: var(--red_900);
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 1px dashed var(--red_900);
    }
  }

  &:disabled {
    pointer-events: none;
    background: var(--red_900);
    color: #fff;
  }
}
